logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
uploads/
coverage/

.env
.env.local
.env.*.local

server.zip
trust-vehicles-app-firebase-adminsdk-fbsvc-dfdb05a758.json

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
